.cartoon{
    padding: 20px;
    background:biege;
    box-shadow: 10px 10px 20px black;
    border-radius: 10px;
    display:flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    margin:20px;
    width:350px;
    height: auto;
    transition: all 1s ease;
}

.cartoon:hover{
    cursor: pointer;
    transform:scale(1.1)
}

.icons{
    color:sienna;
    font-size:15px;
    margin-left: 25px;
    padding-right: 7px;
}

.list{
    color:sienna;
    font-size: 10px;
    margin-left: 30px;
    list-style-type: none;
}

.head{
    text-align: center;
    font-family: 'Railway', sans-serif;
}

.paragraph{
    padding-top: 2px;
}


















