.defaultMessage,
.dangerMessage {
	width: 250px;
	/* max-width: 500px; */
	height: auto;
	margin: 0 auto;
	padding: 1.2rem 0.8rem;
	border: 2px solid #0fc;
	background-color: #0fc;
	text-align: center;
}
.dangerMessage {
	border: 2px solid #f99;
	background-color: #f99;
}
